# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment files
*.env

# OS files
.DS_Store
Thumbs.db

# Node modules (for frontend)
node_modules/
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
